.login {
  .login-title {
    color: gray;
  }

  .bar {
    p {
      border-bottom: 1px solid #b5b5b5;
      height: 4px;
      font-size: 1px;
    }
  }

  .member-login {
    .member-login-title {
      font-size: large;
      color: gray;
    }
  }
}
