$border-line: 1px solid #d1d1d1;

@mixin title-font {
  padding: 15px;
  border-right: $border-line;
  border-bottom: $border-line;

  color: gray;
  font-size: small;
  text-align: left;
}

@mixin input-style {
  border: 1px solid gray;
  line-height: 25px;
  width: 30%;
}

.login {
  position: relative;
  width: 1000px;
  height: 800px;
  margin: 0 auto;

  .login-title {
    color: gray;
  }

  .bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 15px;
    border-right: $border-line;
    border-left: $border-line;

    .bar-line {
      border-bottom: $border-line;
    }
  }

  .member-login {
    .member-login-title {
      height: 25px;
      color: gray;
      font-size: 20px;
      text-align: center;
    }
  }

  .login-container {
    .login-table {
      border: $border-line;

      .table-box {
        height: 200px;

        .id-box {
          .id-title {
            @include title-font;
          }

          td {
            padding: 15px;
            border-bottom: $border-line;

            input {
              @include input-style;
            }
          }
        }
        .pw-box {
          .pw-title {
            @include title-font;
          }

          td {
            padding: 15px;
            border-bottom: $border-line;

            input {
              @include input-style;
            }
          }
        }
      }
    }
  }
}
