ul,
li {
  margin: 0;
  padding: 0;
}

html,
body {
  padding: 0;
  margin: 0;
}
.main {
  .product-section {
    border-bottom: 1px solid #ccc;
  }

  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .link-more {
      color: #002bd2;
      font-size: 13px;
    }
  }

  .section-title {
    font-size: 24px;
    line-height: 32px;
    font-weight: normal;
  }

  .section-inner {
    width: 1260px;
    margin: 0 auto;
    padding: 0 20px;

    .menu-list {
      display: flex;
      justify-content: space-between;

      &.col-2 {
        .menu-item {
          width: calc(50% - 50px);

          &:nth-child(even) {
            .img-thumb {
              height: 800px;
            }
          }
          &:nth-child(odd) {
            .img-thumb {
              height: 600px;
            }
          }
        }
      }
      &.col-3 {
        .menu-item {
          width: calc(33% - 50px);
        }

        .img-thumb {
          height: 400px;
          min-width: 100%;
        }
      }
    }

    .img-thumb {
      object-fit: cover;
      z-index: 1;
      transition: scale 0.2s;
    }

    .img-wrap {
      position: relative;
      overflow: hidden;
      line-height: 0;
      cursor: pointer;

      &::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        transition: 0.2s;
        opacity: 0;
        z-index: 10;
      }

      &:hover {
        .img-thumb {
          transform: scale(1.01);
        }
      }

      &:hover::after {
        opacity: 0.3;
      }
    }

    .item-title {
      font-size: 50px;
      line-height: 65px;
      margin-top: 30px;
      margin-bottom: 10px;
      font-weight: bold;
      text-align: center;
    }

    .item-desc {
      font-size: 24px;
      line-height: 32px;
      margin-top: 0;
      font-weight: normal;
      text-align: center;
    }
  }
}
.carousel-section {
  padding: 20px 0 70px;
  border-bottom: 1px solid #000;
}
