$gray: rgb(220, 220, 220);

.pagination-nav {
  .nav-prev-btn,
  .nav-page-btn,
  .nav-next-btn {
    border-style: none;
    background-color: white;
    margin: 0 5px;
  }
  .nav-prev-btn:hover,
  .nav-page-btn:hover,
  .nav-next-btn:hover {
    border: 1px solid $gray;
  }

  .nav-page-btn:focus {
    border: 1px solid gray;
  }
}
