.blind {
  font-size: 0;
  line-height: 0;
  text-indent: -10000px;
}

.mt5 {
  margin-top: 5px;
}

.mb5 {
  margin-bottom: 5px;
}

.trt {
  text-align: right;
}

.tlt {
  text-align: left;
}

.tct {
  text-align: center;
}
