.trt {
  text-align: right;
}

<<<<<<< HEAD
.tlt {
  text-align: left;
}

.tct {
=======
​ .tlt {
  text-align: left;
}

​ .tct {
>>>>>>> master
  text-align: center;
}

#root {
  > :nth-child(2) {
    min-height: calc(100vh - 700px);
  }
}
