body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: 1.5em;
}
fieldset,
img,
dl,
ul,
ol,
menu,
li,
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
input select,
textarea,
button,
body,
th,
td,
input,
select,
textarea,
button {
  font-size: 14px;
  line-height: 1.5;
  font-family: 'Noto Sans KR', 'Malgun Gothic', '돋움', dotum, sans-serif;
  color: #333;
}
a a:active,
address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}
table {
  width: 100%; /*border-collapse:collapse;*/
  border-spacing: 0;
}
caption,
legend {
  font-size: 0;
  line-height: 0;
  height: 0;
}
