@import '../../styles/variables.scss';

$font-color: #807f83;
.product {
  .group-wrap {
    width: 1000px;
    margin: 0 auto;
  }

  .header-group {
    background-color: #e6e6e6;

    .group-wrap {
      @include flex(space-between, flex-start);
    }

    .left-area {
      flex: 1;

      .img-wrap {
        padding: 0 50px;
        width: 100%;
        height: 460px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .txt-group {
      padding: 40px 0;

      .name {
        margin-bottom: 4px;
        font-size: 30px;
        color: $font-color;
      }

      .price {
        font-size: 28px;
        font-weight: lighter;
        color: $font-color;
      }
    }

    .group-title {
      margin-bottom: 3px;
      font-size: 13px;
      font-weight: bold;
      color: $font-color;
      margin-bottom: 10px;
    }

    .color-group {
      padding: 0 0 20px;

      .color-list {
        @include flex(flex-start, flex-start);
        margin-bottom: 10px;
      }

      .color-item {
        position: relative;
        width: 45px;
        height: 45px;
        margin-right: 15px;
        border: 1px solid #b2b2b2;
        background: repeating-linear-gradient(
          -45deg,
          #cfcfcf 1px,
          #cfcfcf 2px,
          transparent 3px,
          transparent 6px
        );
        cursor: not-allowed;

        &.Red {
          background: #e07e69;
          border: 0;
          cursor: pointer;
        }

        &.Green {
          background: #499a7d;
          border: 0;
          cursor: pointer;
        }

        &.Blue {
          background: #4f78e5;
          border: 0;
          cursor: pointer;
        }

        &.Yellow {
          background: #f1bd21;
          border: 0;
          cursor: pointer;
        }

        &.Purple {
          background: #f1bd21;
          border: 0;
          cursor: pointer;
        }

        &.active {
          border: 3px solid #f01800;

          &::before {
            content: '';
            display: block;
            position: absolute;
            top: calc(50% - 8px);
            left: calc(50% - 9px);
            width: 15px;
            height: 7px;
            border-right: 3px solid #f01800;
            border-top: 3px solid #f01800;
            transform: rotate(135deg);
          }
        }
      }

      .color-name {
        height: 20px;
        margin-bottom: 20px;
        background-color: #fff;
        font-size: 13px;
        line-height: 1.55;
        font-weight: bold;
        text-align: center;
        vertical-align: middle;
        color: #666;
      }
    }

    .count-group {
      margin-bottom: 20px;

      .counter {
        display: table;
        border-bottom: 1px solid #333;
      }

      .inpt-count {
        display: inline-block;
        width: 120px;
        height: 30px;
        vertical-align: middle;
        border: 0;
        text-align: center;
        background-color: transparent;
        font-size: 24px;
      }

      button {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: 30px;
        height: 30px;

        &::before {
          content: '';
          position: absolute;
          top: calc(50% - 4px);
          left: calc(50% - 8px);
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 8px 10px 8px;
          border-color: transparent transparent #666 transparent;
        }
      }

      .btn-dec {
        transform: rotate(180deg);
      }
    }

    .btn-group {
      padding-bottom: 50px;

      button {
        width: 170px;
        height: 48px;
        border-radius: 4px;

        .btn-txt {
          font-size: 18px;
          font-weight: bold;
          color: #fff;
        }
      }

      .btn-purchase {
        background-color: #ef412f;
        margin-right: 10px;
      }

      .btn-cart {
        background-color: #999;
      }
    }
  }
  .bottom-group {
    padding: 20px 0 30px;
    border-bottom: 1px solid #333;

    .img-list {
      display: flex;
      padding: 0 50px;

      .img-item {
        width: 100px;
        height: 100px;
        margin-right: 20px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        &.active {
          border: 3px solid #f01800;
        }
      }
    }
  }
  .info-section {
    padding: 30px 0;
    .img-info {
      width: 100%;
      margin-bottom: 30px;
    }
  }
}
