@import '../../styles/variables.scss';

@mixin small-font(
  $padding: 15px,
  $color: $gray,
  $font-weight: normal,
  $font-size: 13px,
  $text-align: left
) {
  padding: $padding;
  color: $gray;
  font-weight: $font-weight;
  font-size: $font-size;
  text-align: $text-align;
}

@mixin input-border {
  margin-right: 10px;
  width: 20%;
  border: 1px solid gray;
  line-height: 25px;
}

.join {
  position: relative;
  margin: 0 auto;
  width: 1000px;

  .join-title {
    margin: 30px 0;
    color: $gray;
    font-size: 32px;
    font-weight: bold;
  }

  .bar {
    @include bar;

    .bar-line {
      border-bottom: $border-line;
    }
  }
  .section-title {
    margin: 10px 0 0;
    height: 25px;
    color: $gray;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
  }

  .agreement {
    margin-bottom: 50px;

    .check-terms-use {
      font-size: 13px;

      .terms-use-title {
        color: $gray;
      }
    }
  }

  .terms-use {
    height: 250px;
    margin: 30px 0px;
    padding: 10px;
    line-height: 1.33em;
    border: $border-line;
    overflow: scroll;

    p {
      color: $gray;
      font-size: 13px;
    }
  }

  .bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 15px;
    border-left: $border-line;
    border-right: $border-line;

    .bar-line {
      border-bottom: $border-line;
    }
  }

  .member-data {
    .member-data-title {
      margin: 0px;
      height: 25px;
      color: $gray;
      font-size: 20px;
      text-align: center;
    }

    .member-data-container {
      .member-data-box {
        margin: 50px 0;
        border: $border-line;

        .member-data-table {
          width: 100%;

          td {
            > input + p {
              margin-top: 8px;
            }
          }

          tbody {
            .member-id-box {
              .member-id-title {
                @include small-font($font-weight: bold);
                border-right: $border-line;
                border-bottom: $border-line;
              }

              .member-id-message {
                @include small-font;
                border-bottom: $border-line;

                .member-id-input {
                  @include input-border;
                }
              }
            }

            .member-pw-box {
              .member-pw-title {
                @include small-font($font-weight: bold);
                border-right: $border-line;
                border-bottom: $border-line;
              }

              .member-pw-message {
                @include small-font;
                border-bottom: $border-line;

                .member-pw-input {
                  @include input-border;
                }
              }
            }

            .member-email-box {
              .member-email-title {
                @include small-font($font-weight: bold);
                border-right: $border-line;
                border-bottom: $border-line;
              }

              .member-email-message {
                @include small-font;
                border-bottom: $border-line;

                .member-email-input {
                  @include input-border;
                }
              }
            }
          }
        }

        .member-data-button {
          min-width: 170px;
          height: 40px;
          padding: 8px 12px;
          margin: 30px 150px;
          border-radius: 4px;
          background-color: #ef412f;
          font-size: 15px;
          color: #fff;
        }
      }
    }
  }
}
