@import '../../../styles//variables.scss';

.category-nav {
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
  dl {
    @include flex(space-around, center);
    width: 1000px;
    margin: 0 auto;
    padding: 110px 20px 20px 20px;
    dt button {
      padding: 0 0 0 15px;
      font-size: 15px;
    }

    span {
      font-size: 20px;
    }

    span:hover {
      opacity: 0.5;
    }

    dd {
      button {
        padding: 10px;
        font-size: 12px;
      }
    }
  }
}
